<div class="wrapper">
    <div class="friendList">
        <div class="heading">
            <p><strong>Suggestions</strong></p>
            <p (click)="show();"><strong>Done</strong></p>
        </div>
        <div class="suggestions">
            <div class="tile" *ngFor="let friend of friendList; let i =index">
                <div class="pic col-xs-2">
                    <img class="img img-responsive" src="../../../assets/{{friend.img}}.svg" alt="">
                </div>
                <div class="name col-xs-7"><p>{{friend.name}}</p></div>
                <div class="status col-xs-3" [ngStyle]="{'background-color': (friend.status=='suggestion') ? 'rgb(85, 216, 85)' : 'rgb(168, 164, 164)'}" (click)="toggleFriend(friend.status, i)">
                    <p *ngIf="friend.status=='suggestion'" style="color: white">ADD</p>
                    <p *ngIf="friend.status=='friend'" style="color: rgb(59, 55, 55)">REMOVE</p>
                </div>
            </div>
        </div>
    </div>
</div>